# Configuración del servidor
PORT=8000

# Configuración del modelo de voz de Piper TTS
TTS_MODEL_NAME=es_ES-carlfm-x_low
TTS_MODEL_DIR=models
TTS_MODEL_URL=https://huggingface.co/rhasspy/piper-voices/resolve/main/es/es_ES/carlfm/x_low/es_ES-carlfm-x_low.onnx

# Variable deprecada (para fallback retrospectivo)
# MODEL_PATH=models/es_ES-carlfm-x_low.onnx
