# Configuración del servidor
PORT=8000

# Configuración del modelo de voz de Piper TTS
TTS_MODEL_NAME=es_ES-carlfm-x_low
TTS_MODEL_DIR=models

# Variable deprecada (para fallback retrospectivo)
# MODEL_PATH=models/es_ES-carlfm-x_low.onnx
